.chat::-webkit-scrollbar {
    width: 7px;
}

.chat::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #B8C0BC;
}

.chat::-webkit-scrollbar-thumb:hover {
    background-color: #AAAAAA;
}

.like {
    fill: #FFFFFF;
}

.like:hover {
    fill: var(--bs-gray-200);
}

.like:active {
    fill: var(--bs-gray-400);
}

.like-active {
    fill: #42E73A;
}

.like-active:hover {
    fill: #0ACF00;
}

.like-active:active {
    fill: #2DAB27;
}
