.chat {
    display: flex;
    flex-direction: column;
}
.chat-messages {
    flex: 1;
}
.chat-input {
    display: flex;
    margin-top: 5px;
    height: 24px;
}
.chat-input input {
    margin-right: 5px;
    border-radius: 5px;
    border-width: 1px;
    flex: 1;
}
.arrowButton {
    height: 100%;
    width: calc(height);
    border: none;
    cursor: pointer;
    padding-left: 0;
    padding-right: 0;
}
.arrowButton img {
    height: 100%;
    width: 100%;
}